header {
    width: 800px;   
    height: 200px;
    box-sizing: border-box;
    border: 5px red solid;
}

nav {
    width: 100px;
    height: 400px;
    box-sizing: border-box;
    border: 5px orange solid;
}

section {
    width: 700px;
    height: 400px;
    box-sizing: border-box;
    border: 5px orange solid;
    margin-left: 95px;
    margin-top: -5px;
    text-align: center;
    padding-top: 150px;

}

footer {
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    border: 5px gray solid;
}